@import "../mixins";

.about{
    font-family: inherit;
    background-color: #fff;
    color: #000000;    
    margin-bottom: 10px;

    @media (min-width: $big-tablet-width){
    }
} 

.about__title{
    @include title-big;
}

.about__item-title{
    @include plan-list;
    line-height: 28px;

    @media (min-width: $big-tablet-width){
        font-size: 14px;
        padding-bottom: 3px;
    }
}

.about__list{
    margin: 0;
    margin-top: 20px;
    padding: 0;
    list-style-type: none;

    @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
    
}

.about__item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 5px;

    &:hover{
        box-shadow: 0 0 5px rgba(0,0,0,0.2);
    }

    @media (min-width: $tablet-width) {
        width: 45%;
    }

    @media (min-width: $big-tablet-width){
        width: 33%;
    }
}

.about__svg {
    padding: 10px;

}

.about__circle{
    border: 1px solid black;
    display: inline-block;
    border-radius: 30px;
    margin: 0 auto;
}

.about__text{
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 18px;
    line-height: 28px;

    @media (min-width: $big-tablet-width){
        padding: 0 17px;
        font-size: 14px;
        line-height: 22px;
    }
}