.advantages{
    background-color: #fff;
    color: #000000;
    font-family: inherit;
}

.advantages__list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
    padding-left: 10px;
    line-height: 30px;

    @media (min-width: $tablet-width) {
        padding: 0 0 0 25px;
    }

    @media (min-width: $big-tablet-width){
        padding: 0;
        
    }
}

.advantages__item{
    display: flex;
    align-items: center;
}

.advantages__svg{
    margin-right: 10px;
}

.advantages__text{
    margin: 0;

    @media (min-width: $big-tablet-width){
        font-size: 14px;
    }
}