.copyright{
    background-color:#24282f
}

.copyright__text{
    color: #ffffff;
    font-size: 15px;
    line-height: 32px;
    padding: 15px 20px;
    margin: 0 auto;
    text-align: center;

    @media (min-width: $tablet-width) {
        font-size: 18px;
    }
}