.main-footer{
    background-color: #2b2f35;
    color: #ffffff;

    @media (min-width: $big-tablet-width){
    }
}

.main-footer__wrapper{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

.main-footer__title{
    font-family: inherit;
    font-size: 12px;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    margin: 0;
    margin-bottom: 15px;

    @media (min-width: $tablet-width) {
        font-size: 18px;
    }

}

.main-footer__link-phone{
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    margin-bottom: 15px;

    @media (min-width: $tablet-width) {
        font-size: 20px;
    }
}

.main-footer__button{
    text-align: center;
    padding: 12px 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #5C250F;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 230px;
    margin: 0 auto;

    @media (min-width: $tablet-width) {
        font-size: 18px;
    }
}